@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
    
   
    
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    .linkedin{
        display: none;
    }
    .github{
        display: none;
    }
    #hamburger-nav {
      display: flex;
      flex-direction: column;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #Photography{
      height: auto;
  align-self: center;
  width: 80vw;
  justify-content: space-around;
  padding-bottom: 30px;
    }
    .head{
      padding-top: 4rem;
    }
    .piccont{
      width:60vw;
    }
    .drone-img{
      width: 80vw;
    }
    .picdescr{
      font-size: 2rem;
      top:120px;
      left: 200px;
    }
    .gallery{
      width: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
    
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height:20vh;
    }
    #profile {
      height: 63vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    #experience{
      height:auto;
    }
    #projects{
      height: auto;
    }
    #Photography{
      height: auto;
  align-self: center;
  width: 80vw;
  justify-content: space-around;
  padding-bottom: 30px;
    }
    .drone-img{
      width: 80vw;
    }
    .piccont{
      width:80vw;
    }
    .picdescr{
      font-size: 1.5rem;
      left:40px;
      top:50px;
      width:10vw;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
      }
      .about-containers,
      .contact-info-upper-container,
      .btn-container {
        flex-wrap: wrap;
      }
      .contact-info-container {
        margin: 0;
      }
      .contact-info-container p,
      .nav-links li a {
        font-size: 1rem;
      }
      .experience-sub-title {
        font-size: 1.25rem;
      }
      .logo {
        font-size: 1.5rem;
      }
      .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
      }
      .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
      }
      .section__text__p2 {
        font-size: 1.25rem;
      }
      .title {
        font-size: 2rem;
      }
      .text-container {
        text-align: justify;
      }
    }